@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    line-height: 1;
    background: #c6001e;
    letter-spacing: -0.05em;
}

.App {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    line-height: 1;
    letter-spacing: -0.05em;
    width: 894px;
    height: 1920px;
    margin: 0 auto;
}

.nav-country {
    position: absolute;
    z-index: 100;
    top: 110px;
    right: 72px;
}

.nav-country .btn-change-country {
    border: 5px solid #fff;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.nav-country .btn-change-country.usa {
    background-image: url(assets/usa_flag.png);
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

/* .App-link {
    color: #61dafb;
} */
